.second-g {
    gap: 6rem;
    margin-bottom: 5.33rem;
}

.second-g>div {
    width: 13rem;
}

.second-g .white-line {
    width: 10rem;
}

.g-wrapper .graduate {
    flex-direction: column;
    gap: 16rem;
    border: none;
    padding: 0;
}

@media (max-width: 490px) {
    .second-g {
        flex-direction: column;
    }
    .g-wrapper .graduate {
        gap: 9rem;
    }
    .second-g {
        gap: 2rem;
    }
}

@media (min-width: 1000px) {
    .graduate .first-h {
        max-width: 35rem;
    }
}